<!DOCTYPE html>
<html>
<head>
	<title>Anonymous Chat</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/home.js"></script>
</head>
<body>
	<header class="homebanner">
		<h1 class="homebannertext">
			<!-- <a href="#" id="logo"> -->Anonymous Chat<!-- </a> -->
		</h1>
	</header>

	<section>
		<div class="homesection">
			<a title="Create" href="/chat" id="create">
				<div id="createbutton">
					<div id="little">Chat with a stranger</div>
					<div id="big">Enter</div>
				</div>
			</a>
		</div>
	</section>
</body>
</html>
